#set( $G = {} )
#set( $G.WEB_HOST = "http://127.0.0.1:8080" )
#set( $G.STATIC_HOST = "http://127.0.0.1:8081" )
#set( $G.IMAGES_URL = $G.STATIC_HOST + "/images" )
#set( $G.TEMP_URL = $G.STATIC_HOST + "/temp" )
#set( $G.INDEX_URL = $G.STATIC_HOST + "/index" )
#set( $G.IMG_URL = $G.STATIC_HOST + "/img" )
#set( $G.CSS_URL = $G.STATIC_HOST + "/css" )
#set( $G.JS_URL = $G.STATIC_HOST + "/js" )
#set( $G.JS_VERSION = "20130303")
