#parse("/com/jiae/iseer/template/vm/header.vm")
<div class="wrapper wrapper-list">
<pre>
    "page": {
        "pageNo":$page.pageNo, 
        "pageSize":$page.pageSize, 
        "orderBy":"$page.orderBy", 
        "order":"$page.order", 
        "totalCount":$page.totalCount, 
        "result":[
            if($page.totalCount > 0)
                #foreach( $item in $page.result )
                    #if( $velocityCount > 1 ),
                    #end
                    {
                    "id":"$!vu.escape4HtmlAndJson($item.id)",
                    "name": "$vu.escapeNull($!item.name)",
                    "type": "$vu.escapeNull($!item.type)"
                #end
            end
        ]    
   }
</pre>
#parse("/com/jiae/iseer/template/vm/footer.vm")